[submodule "org.eclipse.featuremodel.metamodel"]
	path = org.eclipse.featuremodel.metamodel
	url = git@github.com:hielsnoppe/org.eclipse.featuremodel.metamodel.git
[submodule "org.eclipse.featuremodel.editor.diagram"]
	path = org.eclipse.featuremodel.editor.diagram
	url = git@github.com:hielsnoppe/org.eclipse.featuremodel.editor.diagram.git
